{% extends "base.html" %}
{% block content %}
    <div class="login">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>Forgot Password?</h1>
        <h3>Please contact the admin to recover your account.</h3>

        

        <div style="margin-top: 50px;">
            <a class="submit-btn" href="mailto:cse111test@ucmerced.edu" style="text-decoration: none; background-color: #7e7e7e;">Contact Administrator</a>
            <a class="submit-btn" href="/" style="text-decoration: none"> Go back to Login Page!</a>
        </div>
    </div>

    <div class="img">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" />
    </div>
{% endblock %}